﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - stream-schedule.io</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">stream-schedule.io</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="modal" data-target="#submit-event-modal">
                            Submit an event
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- <partial name="_CookieConsentPartial" /> -->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Submit a date modal -->
    <form id="submit-event-form" action="/Home/SubmitEvent" method="post">
        <div id="submit-event-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Submit an event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="form-group row">
                            <label for="submit-event-title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input name="title" type="text" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="submit-event-start-date" class="col-sm-2 col-form-label">Start</label>
                            <div class="col-sm-5">
                                <input name="startDate" type="date" class="form-control" required>
                            </div>
                            <div class="col-sm-5">
                                <input name="startTime" type="time" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="submit-event-end-date" class="col-sm-2 col-form-label">End</label>
                            <div class="col-sm-5">
                                <input name="endDate" type="date" class="form-control" required>
                            </div>
                            <div class="col-sm-5">
                                <input name="endTime" type="time" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="submit-event-url" class="col-sm-2 col-form-label">Stream-URL</label>
                            <div class="col-sm-10">
                                <input name="streamUrl" type="url" class="form-control" placeholder="http://some-url.com" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - stream-schedule.io - 1.1.5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    
    <script src="~/dist/site.bundle.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
